<div class="container">  
     <h1 style = "text-align: center;">{{topic}}</h1>
    <form class ="form" (submit)="registerSubmit()">  
    <label for="FirstName">First Name 
        <label style="color: red;">*</label>
    </label>  
    <input type="text" name="FirstName" required >   
    
    <label for="LastName">Last Name</label>  <label style="color: red;">*</label> 
    <input type="text" name = "LastName" required >    
     
    <label for="Mobile">Mobile</label>   <label style="color: red;">*</label>   
    <input type="text" name="Mobile" required>
     
        <label for="Location">Location</label>  
        <input type="location" name="location" >   
    
        <label for="email">Email</label>    <label style="color: red;">*</label>
        <input type="text" name="email" required type ="email"> 
    
    <label for="password">Password</label>  <label style="color: red;">*</label> 
      
    <input type="password" name="password" pattern="(?=^.{6,12}$)(?=.*\d)(?=.*[a-z])[a-zA-Z0-9 _-]*$" required> 
     
     
    <button  type="Submit">Submit</button>  
    <span>Already have an account? 
        <a routerLink="/login">Login </a></span>
    </form> 
    <!-- <button (click)="reset()" type="reset">Reset</button>    -->
    </div>  