
<div class="container">
  <div class="container" align = "center">
    User login
  </div>  
  <form (submit)="submit()" [formGroup]="logInForm">
   <!-- <label for="name">Name</label>
    <input type="text" id="name" name="Name" placeholder="Your name.." required>
    -->
    <label for="email">Email</label>
    <input formControlName="email" type="text" id="email" name="Email" placeholder="Your mail address.." required>

    <label for="password">Password</label>
    <input formControlName="password" type ="password" id ="password" name="Password" placeholder="*********" required >
    
    <input type="Submit"  (click)="formSubmit()">
    <!-- <button (click)="formSubmit()"></button> -->
    <span>Don't have any account? 
      <a routerLink="/register"> Sign Up </a></span>
  </form>
  <button (click)="formSubmit()">test</button>
</div>

